{% extends "base.html" %}
{% load static %}
{% block body %}

{% endblock body %}
<footer>
    <div class="footer-main-sec">  
        <div class="">
          <p class="p_home">KNOW ME</p>
          <div class="footer-link">        
            <a class="nav" aria-current="page" href="#">About us</a>
            <a class="nav" href="#">Careers</a>
            <a class="nav" href="#"> Press</a>
            <a class="nav" >Disabled</a>
          </div> 
        </div>
             
        <div class="">
          <p class="p_home">CONNECT</p>
          <div lass="footer-link">
            <a class="nav" href="#">Instagram</a>
            <a class="nav" href="#">Facebook</a>
            <a class="nav" href="#">Twitter</a>
          </div>
        </div>
        
        <div class="">
          <p class="">MORE INFO</p>
          <div lass="footer-link">
            <a class="nav" href="#">Term and Conditions</a>
            <a class="nav" href="#">Privacy Policy</a>
            <a class="nav" href="#">Shipping Policy</a>
          </div>
        </div>
        
        <div class="">
          <a class="nav-link" href="#">LOCATION</a>
        </div> 
</footer>